* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: DarkSlateGrey;
  color: Orange;
  font-family: "Courier New", Courier New, monospace;
}

#navbar {
  position: absolute;
  z-index: 1;
  width: 10%;
  height: 100%;
  float: left;
  border: solid teal;
  border-right-width: 2px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  padding: 10px;
}

#main-area {
  position: relative;
  z-index: 0;
  float: right;
  width: 87.8%;
  height: 100%;
  background-color: LightSlateGrey;
  padding: 10px;
}
